<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      reiciendis? Libero blanditiis earum explicabo delectus dicta, deleniti
      facere reprehenderit pariatur ad mollitia quas culpa!
    </p>
    <button>click me</button>
  </body>
</html>
