<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a home page</h1>
    <!-- we can use ejs tags here to make our HTML Page Dynamic. By using these tags we can write our Javascript code inside them and then print a string out . Ex are -  <%= 1*2 %> <%= "Abhishek".toUpperCase() %> <%= [10,20,30,"Anbhishek"][0] %> etc etc-->

    <!-- Generally data comes from the backend to the index.js file and we can traverse on that data to make dynamic webpages. we will see an example shortly . -->

    <h3><%= 1*2 %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      reiciendis? Libero blanditiis earum explicabo delectus dicta, deleniti
      facere reprehenderit pariatur ad mollitia quas culpa!
    </p>
    <button>click me</button>
  </body>
</html>
