<%- include("includes/head.ejs")  %>
  <body>
    <h1>Wrong URL Visited Visit Only /cats and /dogs for results</h1>
    <h1>because our data.json file only has data for cats and dogs</h1>
  </body>
</html>
